@import '../../sass/globals';
@import '../../sass/mixins';

.ui-header {
    color: #fff;
    font-size: 30px;
    padding: 15px 0;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #0056b7;

    img {
        width: 40px;
        margin-right: 10px;
    }
}
