@import '../../sass/mixins';

.no-results{
    text-align: center;
}

.activity-table {
    color: #000;
    width: 100%;
    //margin-top: 10px;
    //box-shadow: 0px 0px 3px #888;

    border-collapse: separate;
    border-spacing: 0 15px;

    th {
        text-align: center;
    }

    th,
    td {
        vertical-align: top;
        border: 1px solid #ddd;
        padding: 20px;
        border-style: solid none;

        ul {
            margin: 0 !important;
        }

        img {
            width: 25px;
        }

        &:first-child {
            border-left-style: solid;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-right-style: solid;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    thead {
        tr {
            background-color: #e0e3e8 !important;
        }
    }

    tr:nth-of-type(even) {
        background-color: #e0e3e8;

        ul {
            background-color: #e0e3e8 !important;
        }
    }

    tr:nth-of-type(odd) {
        background-color: #fff;

        ul {
            background-color: #fff !important;
        }
    }

    td:nth-of-type(1) {
        max-width: 175px;
    }

    td:nth-of-type(2) {
        max-width: 85px;
    }

    td:nth-of-type(4) {
        max-width: 95px;
        text-align: center;
    }

    td:nth-of-type(5) {
        max-width: 150px;
        text-align: center;

        button {
            display: inline-block;
            border: 0;
            background: 0;
        }

        .email {
            width: 30px;
        }
    }

    .no-threat-btn {
      span:hover {
        color: green;
      }
    }

    @include mobile {
        th,
        td {
            padding: 20px 10px;
        }
        th:nth-of-type(3),
        td:nth-of-type(3) {
            display: none;
        }
    }
}
