.no-results{
    text-align: center;
}

.activity-table {
    color: #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 0px 3px #888;

    th {
        text-align: center;
    }

    th,
    td {
        vertical-align: top;
        border: 1px solid #ddd;
        padding: 10px;

        ul {
            margin: 0 !important;
        }

        img {
            width: 25px;
        }
    }

    thead {
        tr {
            background-color: rgb(0, 43, 54) !important;
        }
    }

    tr:nth-of-type(even) {
        background-color: rgb(0, 43, 54);
    }

    tr:nth-of-type(odd) {
        background-color: rgb(0, 66, 77);

        ul {
            background-color: rgb(0, 66, 77) !important;
        }
    }

    td:nth-of-type(1) {
        width: 155px;
    }

    td:nth-of-type(2) {
        width: 85px;
    }

    td:nth-of-type(4) {
        width: 95px;
        text-align: center;
    }

    td:nth-of-type(5) {
        width: 130px;
        text-align: center;

        button {
            display: inline-block;
            border: 0;
            background: 0;
        }

        .email {
            width: 30px;
        }
    }

    .no-threat-btn {
      span:hover {
        color: green;
      }
    }
}
