@import '../../sass/mixins';

.no-results{
    text-align: center;
}

.activity-table {
    color: #000;
    width: 100%;
    list-style: none;
    padding: 0;
    //margin-top: 10px;
    //box-shadow: 0px 0px 3px #888;

    .activity.mobile {
        display: none;
    }

    border-collapse: separate;
    border-spacing: 0 15px;

    .activity-li {
        display: flex;
        margin: 15px 0;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;

        &:nth-of-type(odd) {
            background-color: #e0e3e8;

            ul {
                background-color: #e0e3e8 !important;
            }
        }

        &:nth-of-type(even) {
            background-color: #fff;

            ul {
                background-color: #fff !important;
            }
        }

        @include mobile {
            display: list-item;
        }
    }

    .activity-header {
        font-weight: bold;
        text-align: center;

        .activity:first-child {
            text-align: left;
        }
    }

    .activity {
        display: inline-block;
        width: 33%;
        flex: 1;

        ul {
            margin: 0 !important;
        }
    }

    .activity:nth-of-type(2),
    .activity:nth-of-type(4),
    .activity:nth-of-type(5) {
        flex: 1;
        text-align: center;
    }

    .activity:nth-of-type(3) {
        flex: 4;
    }

    .activity:nth-of-type(5) {
        min-width: 120px;

        button {
            display: inline-block;
            border: 0;
            background: 0;
        }

        .email {
            width: 30px;

            @include mobile {
                width: 45px;
            }
        }

        img,
        .glyphicon {
            vertical-align: middle;
            font-size: 25px;
            width: 25px;

            @include mobile {
                font-size: 45px;
                width: 45px;
            }
        }

        @include mobile {
            button {
                margin: 5px 0;
            }
            width: 100%;
        }
    }

    .no-threat-btn {
      span:hover {
        color: green;
      }
    }

    @include mobile {
        .activity:not(:last-of-type) {
            margin-bottom: 15px;
        }
        .activity.mobile {
            display: block;
            width: 100%;
        }

        .activity-header {
            .activity:nth-of-type(3),
            .activity:nth-of-type(5) {
                display: none;
            }
        }

        .activity:nth-of-type(3) {
            display: none;
        }
    }
}
